{% extends 'base.html' %}
{% load staticfiles %}
                {% block content %}
                    <div class="treasure panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ treasure.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="treasure-photo">
                            <img src="{{ treasure.image }}" height="100">
                            </div>
                            <table class="treasure-table">
                                <tr>
                                    <th>
                                        <img src="{% static "images/material-icon.png" %}" alt="Material Icon">
                                        Material:
                                    </th>
                                    <td>{{ treasure.material }}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <img src="{% static "images/value-icon.png" %}" alt="Value Icon">
                                        Value:
                                    </th>
                                    <td>${{ treasure.value }}</td>
                                </tr>
                                <tr>
                                        <th>
                                            <img src="{% static "images/location-icon.png" %}" alt="Location Icon">
                                            Location:
                                        </th>
                                    <td>{{ treasure.location }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endblock %}