{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
                <div class="row">
                    {% for treasure in treasures %}
                        <div class="col-md-4">
                            <a href="/{{ treasure.id }}/">
                                <div class="treasure panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">{{ treasure.name }}</h2>
                                        <a class="panel-username" href="/user/{{ treasure.user.username }}">
                                            by:{{ treasure.user.username }}
                                        </a>
                                    </div>
                                        <div class="treasure-photo">
                                                <img src="{{ treasure.image }}" height="100">
                                        </div>
                                </div>
                                <button id="likes" data-id="{{ treasure.id }}" class="btn btn-mimi btn-danger glyphicon glyphicon-heart" type="button">
                                    {% if treasure.likes > 0 %}
                                        {{ treasure.likes }}
                                    {% endif %}
                                </button>
                            </a>
                        </div>
                        {% if forloop.counter|divisibleby:"3" %}
                            </div><div class="row">
                        {% endif %}

                    {% endfor %}
                </div>

                <div class="treasure panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Add Treasure </h3>
                    </div>
                    <div class="panel-body">
                        <form enctype="multipart/form-data" action="post_url/" method="post" class="submit-row">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Submit" class="submit-row">
                        </form>

                    </div>
                </div>
            {% endblock %}

