{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>{{ username }}</h1>
    <div class="row">
        {% for treasure in treasures %}
            <div class="col-md-4">
                 <a href="/{{ treasure.id }}/">
                       <div class="treasure panel panel-default">
                           <div class="panel-heading">
                        <h2 class="panel-title">{{ treasure.name }}</h2>
            </div>

          <div class="treasure-photo">
           <img src="{{ treasure.image }}" height="100">
      </div>
                                </div>
                            </a>
                        </div>
            {% if forloop.counter|divisibleby:"3" %}
                 </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
